@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    color: #fff;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    height: 100vh;
}
.nav {
    position: fixed;
    height: 10vh;
    width: 100vw;
    background: #fcfcfc;
    display: flex;
    color: #000;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.main-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f55f5f;
}
.logo {
    height: 10vh;
}
.logo img {
    height: 10vh;
    width: 10vh;
}
.buttons {
    width: 80vh;
    display: flex;
    height: 20vh;
    justify-content: space-evenly;
    align-items: center;
}
.buttons p {
    font-size: 18pt;
}
.side {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}
.side * {
    width: 50vw;
}
button {
    color: #000;
    outline: 0;
    border: 0;
    background: #c08855;
    border: 4%;
}