* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.nav {
    position: fixed;
    height: 20vh;
    width: 100vw;
    background: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_section {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f55f5f;
}
.logo {
    height: 20vh;
}
.logo img {
    height: 20vh;
    width: 20vh;
}
.buttons {
    width: 80vh;
}